rapport/main.synctex(busy)
rapport/main.*SAVE-ERROR
rapport/main.fdb_latexmk
rapport/main.synctex.gz
rapport/main.run.xml
rapport/main.aux
rapport/main.bbl
rapport/main.bcf
rapport/main.blg
rapport/main.fls
rapport/main.log
rapport/main.out
rapport/main.pdf
rapport/main.toc
.vscode/
.venv/
